In [31]:
import requests as rq
import pandas as pd
import json

In [32]:
otp_url = 'https://marketdata.krx.co.kr/contents/COM/GenerateOTP.jspx?bld=COM%2Ffinder_dellist_isu&name=form&_=1604145804003'
header_data = {
            'User-Agent': 'Chrome/78.0.3904.87 Safari/537.36',
        }
res = rq.get(otp_url, headers = header_data)
otp = res.text

In [33]:
url = 'https://marketdata.krx.co.kr/contents/MKD/99/MKD99000001.jspx'
url_data = {
    'mktsel': 'ALL',
    'pagePath': '/contents/COM/FinderDelListIsu.jsp',
    'code': otp
}
url_headers = {
    'referer': 'https://marketdata.krx.co.kr/mdi',
    'User-Agent': 'Chrome/78.0.3904.87 Safari/537.36',
}

In [34]:
result = rq.post(url, data=url_data, headers = url_headers)

In [35]:
krx_delisting = pd.DataFrame(json.loads(result.text)['result'])

In [36]:
krx_delisting

,isu_cd,end_dd,shrt_isu_cd,isu_abbrv,isu_nm,market_name,delist_dd
0,KR7037730009,20040422,A037730,3R,3R,KOSDAQ,20040422
1,KRA060310125,20120521,J06031012,3S,3S R,KOSDAQ,20120521
2,KR7036360006,20090429,A036360,3SOFT,3SOFT,KOSDAQ,20090429
3,KYG887121070,20130605,A900010,3노드디지탈,3노드디지탈,KOSDAQ,20130605
4,KR7005760004,20090219,A005760,ACTS,위너스인프라인,KOSPI,20090219
...,...,...,...,...,...,...,...
4785,KR7019640010,19981229,A019641,희훈디앤지,희훈1신,KOSDAQ,19981229
4786,KR7019640028,19981229,A019642,희훈디앤지,희훈2신,KOSDAQ,19981229
4787,KR7123160004,20130118,A123160,히든챔피언스팩1호,히든챔피언스팩1호,KOSDAQ,20130118
4788,KR7036840007,20110915,A036840,히스토스템,히스토스템,KOSDAQ,20110915
4789,KR7181980004,20150415,A181980,힘스인터내셔널,힘스인터내셔널,KONEX,20150415